.section-header {
  background-color: $color-orange;
  color: $color-white;

  .header-main {
    padding: 10px 0;
    span {
      color: $color-white;
    }
    .search-button {
      background-color: $color-white;
      color: $color-orange;
      padding: 6px 10px;
    }
    .navbar-toggler-icon {
      font-size: 10px;
    }
  }
  .navbar {
    padding: 15px 0;
    input {
      padding: 6px;
    }
    .search-button-mobile {
      padding: 6px;
    }
    .navbar-toggler {
      padding: 4px 8px;
    }
    .navbar-toggler-icon {
      font-size: 15px;
    }
  }
}
